*{
box-sizing: border-box;
}
html{
  height: 100%;
  width: 100%;
}
body{
  height: 100%;
  vertical-align: middle;
  justify-content: center;
  width: 100%;
}

section{
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
  scroll-snap-align: start;
}
h1,.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ;
}
.container-fluid{
  height: 100vh;
  scroll-behavior: smooth;
  width: 100vw;
  padding: 0;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.heading{
  background-color: white;
  color: black;
  
  
}
.whatwe{
  color: white;
  background-color: black;
}
.request{
  background-color: black;
  color: white;
}
.contact{
  background-size: cover;
}

h1, h2, form, p{
  margin: 0;
}


nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  background-color: black;
}
.links{
  display: flex;
  background-color: purple;
  justify-content: space-around;
  width: 30%;
}
.links a{
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
}

form{
  padding: 0;
  margin: 0;
}


#MESSAGE{
  height: 200px;
  width: 100vw;
}
.image{
  height: 50px;
  height: 50px;
  
}
.logo{
  height: 50px;
  width: 70px;
  float: left;
}
.col-md-4{
height: 50px;
width: 50px;
}
.contact-table{
  margin:auto 0;
  position: absolute;
  left: 33%;
}
