body{
  text-align: center;
}
.heading{
  background-color: #FFA781;
  color: #5B0E2D;
  padding:0;
  margin:0;
}
.whatwe{
  color: #FFA781;
  background-color: #5B0E2D;
  padding:0;
  margin:0;
}

p{
  margin: 0px;
}

h1, h2{
  margin: 0;
}

.nav{
  background-color: #5b0e2D;
  
}
.nav a{
  float: right;
  color: #FFA781;
  text-align: center;
  padding: 10px 10px;
  font-size: 18px;
}

.nav a:hover{
background-color: #FFA781;
color: #5B0E2D;
}
