body{
  text-align: center;
}
.heading{
  background-color: white;
  padding:0;
  margin:0;
}
.whatwe{
  color: white;
  background-color: black;
  padding:0;
  margin:0;
}

h1, h2, form, p{
  margin: 0;
}

.nav{
  background-color: black;
}
.nav a{
  float: right;
  color: white;
  text-align: center;
  padding: 10px 10px;
  font-size: 18px;
}

.nav a:hover{
background-color: #5372fc;
color: white;
}
.request{
  background-color: black;
  color: white;
}
form{
  padding: 0;
  margin: 0;
}
#MESSAGE{
  height: 200px;
  width: 1300px;
}

.ig{
  background: url(https://www.kindpng.com/picc/m/276-2764257_instagram-icon-instagram-logo-small-size-hd-png.png);
  
}
.twitter{
  background: url(https://www.kindpng.com/picc/m/276-2764257_instagram-icon-instagram-logo-small-size-hd-png.png);
  
}
.fb{
  background: url(https://www.kindpng.com/picc/m/276-2764257_instagram-icon-instagram-logo-small-size-hd-png.png);
  
}

.col-md-4{
height: 150px;
width: 150px;
}