body{
    background-color: #6F1E51;
}
.navigation{
    margin-bottom: 15px !important;
    opacity: 0.9;
    background-color: #6F1E51 !important;
    
}
#header{
    margin-right: 0em;
    margin-top: 0.4% !important;
}
h1{
    color: #6F1E51;
    text-align: center;
    
    text-shadow:3px 3px white;
}
h2{
    text-align: center;
    color: #6F1E51;
    text-shadow:4px 4px white;
}
.card{
    margin-left: 10px;
}
.modal-header{
background-color: #6F1E51;
}
.btn-info{
    background-color: #ced6e0;
    margin-left: 25%;
    margin-right: 25%;
}